* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.content {
    padding: .5rem;
}

ul.pokemons{
    list-style: grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px;
    margin: 0px;
}

ul.pokemons li{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: .5rem;
    background: #14A06F;
    color: white;
    border-radius: 1rem;
    align-self: flex-end;
}

ul.pokemons li img {
    max-width: 100%;
    height: 150px;
}