* {
    font-family: 'Roboto', sans-serif;
}
.content {
    padding: 1rem;
}
.content h1 {
    
}

ul.pokemons{
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

ul.pokemons li{
    margin: .5rem;
    padding: 1rem;
    background: #14A06F;
}